/* ----- FireMonkey ----- */
table#api tbody td:last-of-type {
  color: var(--dim);
  text-align: right;
}

.sync {
  background-color: #f1f5ff !important;
}

.pass.sync::before {
  content: '✔ sync ';
}

.async {
  background-color: #fee !important;
}

.pass.async::before {
  content: '✔ async ';
}

.callback {
  background-color: #dfc !important;
}

.pass.callback::before {
  content: '✔ callback ';
}

#blocked li {
  margin-right: 1em;
}

.var li + li {
  margin-top: 0.3em;
}

.var input,
.var select {
  width: 6em;
  margin-top: 0.3em;
  margin-right: 0.5em;
}

input[type="color"] {
  border: 0;
}

.var output {
  vertical-align: top;
  min-width: 2em;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.gray {
  filter: grayscale(1);
}

/* ----- popup ----- */
.popup {
  color: #000;
}

.popup > div {
  display: grid;
  background: #ccc;
  border: 1px solid #aaa;
}

.popup > div > div {
  padding: 1em;
  background: #fff;
  text-align: center;
}

.popup .center {
  grid-column: span 2;
  padding: 2em 4em 4em;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 30vw;
}

.popup .center p {
  text-align: center;
  margin: 0 auto 2em;
}

.popup .center div {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #777;
  height: 8em;
  display: grid;
}

.popup .center span {
  color: #aaa;
  text-align: right;
}

.popup .left {
  height: 10em;
  justify-content: start;
}

.popup .right {
  height: 10em;
  justify-content: end;
}

.popup .left div,
.popup .right div {
  display: grid;
  align-items: center;
  width: 10em;
}

.popup .top {
  height: 10em;
  align-items: start;
}

.popup .bottom {
  height: 10em;
  align-items: end;
}

.popup .top div,
.popup .bottom div {
  width: 100%;
}
/* ----- /popup ----- */

/* ----- Light Theme for Help Syntax Highlight ----- */
.comment { color: #090; }
.keyword, .html { color: blue; }
.object { color: red; }
.string { color: #777; }
.method, .function { color: darkviolet; }
.gm { color: maroon; }

.property { color: #f50; }
.value { color: dodgerblue; }
.pseudo { color: #060; }
.important { color: brown; }