/* ----- Light Theme for Help ----- */
.plain { color: black; }

.comment { color: forestgreen; }
.keyword, .html { color: blue; }
.object, .font { color: red; }
.string { color: gray; }
.method, .function { color: darkviolet; }
.gm { color: maroon; }

.property { color: darkorange; }
.value { color: dodgerblue; }
.pseudo { color: darkgreen; }
.important { color: brown; }
.color { color: orchid; }
