/* ----- FireMonkey ----- */
table#api tbody td:last-of-type {
  color: var(--dim);
  text-align: right;
}

.sync {
  background-color: #dff !important;
}

.sync::after {
  content: ' sync';
}

.async {
  background-color: #fee !important;
}

.async::after {
  content: ' async';
}

.alt {
  background-color: #edf !important;
}

.callback {
  background-color: #dfc !important;
}

.callback::after {
  content: ' callback';
}

#blocked li {
  margin-right: 1em;
}

.var li + li {
  margin-top: 0.3em;
}

.var input,
.var select {
  width: 6em;
  margin-top: 0.3em;
  margin-right: 0.5em;
}

input[type="color"] {
  border: 0;
}

.var output {
  vertical-align: top;
  min-width: 2em;
  display: inline-block;
}
/* ----- Light Theme for Help ----- */
.comment { color: #090; }
.keyword, .html { color: blue; }
.object, .font { color: red; }
.string { color: #777; }
.method, .function { color: darkviolet; }
.gm { color: maroon; }

.property { color: #f50; }
.value { color: dodgerblue; }
.pseudo { color: #060; }
.important { color: brown; }
.color { color: orchid; }